* {
    box-sizing: border-box;
}

body{

}

.bounding-box{
    position: relative;
    width: 308px;
    height: 516px;
    background: lightgrey;
    margin: 20px;
}

.vertical-stroke {
    width: 30px;
    height: 400px;
    display: block;
    position: absolute;    
    background: black;
    left: 28px;
    top: 58px;
}

.horizontal-stroke {
    width: 200px;
    height: 30px;
    background: black;

    position: absolute;
    top: 58px;
    left: 28px;
}

.middle {
    top: 200px;
}

.right{
    left: 228px; 
}

.red {
    background: red;
    opacity: 0;
}

.bounding-box:hover .red {
    opacity: 1;
}
