* {
	box-sizing: border-box;
}

/* type */

body{
	font-family: 'Arial', sans-serif;
}

#text, #shape{
	width: 300px;
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}

/* text */

p {
	font-size: 22px;
}

p:hover {
	font-size: 44px;
	color: green;
}


/* shapes */

.circle {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background: black;
}

.circle:hover {
	background: red;
	border-radius: 0px; 
}

.oval {
	width: 300px;
	height: 100px;
	background: black;
	border-radius: 150px / 50px;
}

.sliver {
	width: 300px;
	height: 40px;
	background: black;
	border-radius: 150px / 20px;
}