* {
	margin: 0px;
	padding: 0px;
}


p {
	font-family: times;
	width: 800px;
	margin: 20px auto;
	font-size: 44px;
	line-height: 54px;
}

@media print {
	body {
		color: blue;
	}

	p {
		font-family: arial;
		letter-spacing: 100px;
	}
}
